@font-face {
    font-family: "Helvetica Bold";
    src: url("fonts/Helvetica Bold.ttf");
}
@font-face {
    font-family: "Avenir Bold";
    src: url("fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
    font-family: "Avenir Regular";
    src: url("fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "Yantra Light";
    src: url("fonts/yantra/yantramanav-light.otf");
}
@font-face {
    font-family: "Yantra Bold";
    src: url("fonts/yantra/yantramanav-bold.otf");
}



* {
    padding: 0;
    margin: 0;
}





/* Header Section */


header {
    padding: 0 0 100px 0;
    width: 100%;
    background: url('../images/banner-principal.png');
    background-position: center;
    background-size: cover;
}
header img {
    width: 80%;
}
header .img-contact {
    transition: all .3s ease;
}
header .img-contact:hover {
    transform: scale(1.05);
}

header .primary-row {
    padding: 50px 70px;
}
header .primary-row img {
    width: 100%;
    max-width: 390px;
}
header .message-dialog {
    background-color: #fff;
    color: #15103E;
    padding: 4px 12px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top: 5px;
    border-radius: 5px;
}
header .number-button {
    transition: all .3s ease;
    background-color: #15103E;
    color: #ffF;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    font-size: 52px;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

header .border-dialog:hover {
    text-decoration: none;
    color: #fff;
}
header .border-dialog {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 25px;
}
header .right-button:hover {
    text-decoration: none;
    transform: scale(1.05);
}
header .right-button {
    width: 100%;
    transition: all .3s ease;
    max-width: 430px;

}

header .message-dialog-2 {
    width: 100%;
    text-align: center;
    background: #fff;
    color: #15103E;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 3px;
    font-size: 20px;
    padding: 4px 0;
    cursor: pointer;
}
header .message-dialog-2:hover {
    text-decoration: none;
}
header .border-dialog .fa {
    right: 386px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    background: #10d23c;
    top: 5px;
    transition: all .3s ease;
}
header .border-dialog .fa:hover {
    background: #f15c22;

}
header .border-dialog {
    position: relative;
}


/* Main Content  */
section.main .container .img-title img {
    width: 100%;
    max-width: 380px;
}

section.main .container .resources .resource-item {
    padding: 35px;
}


section.main .container .row h4{
    font-family: "Helvetica Bold";
    color: #f15c22;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    min-height: 59px;
}
section.main .container .resources .resource-item .captions {
    margin-top: 30px;
}
section.main .container .resources .resource-item .captions p {
    text-align: center;
    font-family: "Avenir Regular";
    height: 100%;
    min-height: 80px;
    border-top: 1px solid #f15c22;
    border-bottom: 1px solid #f15c22;
    padding: 5px;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.main .container .form {
    margin: 60px 10px 35px 10px;
}

section.main .container .form .inputs {
    padding: 30px;
    background-color: #f15c22;
    font-family: "Avenir Regular";
}

section.main .container .form .inputs label {
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
section.main .container .form .inputs input::placeholder,section.main .container .form .inputs select {
    color: #f15c22;
    text-transform: uppercase
}
section.main .container .form .button-container {
    background-color: #15103E;
    padding: 18px;
    margin-top: 10px;
    border-radius: 14px;
}
section.main .container .form .button-container button {
    width: 100%;
    font-size: 45px;
    padding: 12px 10px;
    font-weight: bolder;
    font-family: "Avenir Bold";
    text-transform: uppercase;
    color: #fff;
    background-color: #15103E;
    line-height: 48px;
    border: none;
    border: 1px solid #fff;
    letter-spacing: 6px;
}
section.main .container .form .button-container button span.text {
    padding-right: 10px;
}

section.main .container .title-information {
    color: #f15c22;
    padding-left: 10px;
    padding-right: 70px;
}
section.main .container .title-information h2 {
    font-size: 67px;
    font-weight: 700;
}
section.main .container .title-information p {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}


footer {
    background-color: #15103E;
}
footer .container-fluid {
    color: #fff;    
}
footer .container-fluid .title {
    border-bottom: 2px solid #f15c22;
    text-align: center;
    text-transform: uppercase;
}
footer .container-fluid .title h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

footer .container-fluid .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 30px;
}
footer .container-fluid .contact {
    padding: 35px 30px;
}
footer .container-fluid .contact .social-links {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
footer .container-fluid .contact .social-links a {
    font-size: 17px;
    margin: 5px;
    font-weight: 700;
    color: #fff;
    transition: all .3s ease;
}
footer .container-fluid .contact .social-links a:hover {
    text-decoration: none;
    color: #f15c22;

}

footer .container-fluid .contact .social-links a .fa {
    font-weight: bold;
    padding: 8px;
    color: #15103E;
    background-color: #f15c22;
    margin-right: 5px;
    font-size: 27px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #f15c22;
    /* padding: 0.5em 0.6em; */
}

@media(max-width: 913px) {
    header .number-button {
        font-size: 40px
    }
    header .border-dialog .fa {
        right: 320px;
    }
}

@media(max-width: 768px) {
    header .number-button {
        font-size: 40px
    }
}

@media(max-width: 474px) {
    header .number-button {
        font-size: 38px;
    }
    header .border-dialog .fa {
        right: 295px;
    }
}

@media (max-width: 370px) {
    header .number-button {
        font-size: 31px;
    }
    header .border-dialog .fa {
        right: 249px;
    }
}

@media (max-width: 323px) {
    header .number-button {
        font-size: 30px;
    }
}